///* ========================================================================
//   #INPUT
//   ======================================================================== */


// Mixin or default input, textarea, select styles.
//
// .usage {
//   @include input();
// }

@mixin input() {
  @include inuit-font-size(14px);
  font-weight: 300;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border: 1px solid $global-color-gray;
  padding: $inuit-global-spacing-unit-tiny;
  resize: none;

  &:focus,
  &:active{
    border: 1px solid $global-color-dark-hard;
    outline: none;
  }

  &:disabled{
    border: 1px solid $global-color-gray-thin;
    color: $global-color-gray-thin;
  }

  &:-moz-placeholder{ color: $global-color-gray-light; }
  &::-moz-placeholder{ color: $global-color-gray-light; }
  &:-ms-input-placeholder{ color: $global-color-gray-light; }
  &::-webkit-input-placeholder{ color: $global-color-gray-light; }
}


@mixin input-select(){
  background: url("img/u-select-arrow.png") no-repeat 98% center transparent;
  background: url("img/u-select-arrow.svg") no-repeat 98% center transparent;
  cursor: pointer;
  outline: 0;
  padding-right: $inuit-global-spacing-unit;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
}
