/* ==========================================================================
   #HEADINGS
   ========================================================================== */

@mixin h1(){
  @include inuit-font-size($inuit-font-size-h1);
  font-weight: 400;
}

@mixin h2(){
  @include inuit-font-size($inuit-font-size-h2);
  font-weight: 300;
}

@mixin h3(){
  @include inuit-font-size($inuit-font-size-h3);
  font-weight: 400;
}

@mixin h4(){
  @include inuit-font-size($inuit-font-size-h4);
  font-weight: 500;
}

@mixin h5(){
  @include inuit-font-size($inuit-font-size-h5);
  font-weight: 600;
}

@mixin h6(){
  @include inuit-font-size($inuit-font-size-h6);
  font-weight: 600;
}
