/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */

.c-page-head{
  background-color: $global-color-blue-hard;
  padding: $inuit-global-spacing-unit 0;
}

  .c-page-head__title{
    @include h1();
    color: #fff;
    text-align: center;
    margin: 0;

    @include mq($until: tablet){
      @include inuit-font-size(26px, 30px);
    }

    @include mq($until: desktop){
      @include inuit-font-size(32px, 34px);
    }
  }

  .c-page-head__menu{
    display: inline-block;
    vertical-align: middle;
    background: url("img/u-hamburger-icon.png") no-repeat 0 0 transparent;
    width: 16px;
    height: 14px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    margin-left: inuit-rem($inuit-global-spacing-unit-small);

    @include mq($from: tablet) {
      margin-left: inuit-rem($inuit-global-spacing-unit-large);
    }
  }






/* Edit requirement variant
   ========================================================================== */

.c-page-head--alt{
  color: #fff;
  background-color: $global-color-gray;
  will-change: background;
  transition: background .3s ease;

  &.is-succeeded{
    background: $global-color-green;
  }

  &.is-approved{
    background: $global-color-blue;
  }

  &.is-on-hold{
    background: $global-color-gray;
  }

  &.is-declined{
    background: $global-color-red;
  }

  .c-page-head__title{
    @include inuit-font-size(32px, 32px);
    font-weight: 300;
    text-align: left;

    > span{
      display: block;
    }

    @include mq($until: tablet){
      @include inuit-font-size(24px, 28px);
    }
  }
}

  .c-page-head__meta{
    @include inuit-font-size(14px);
  }

  .c-page-head__close{
    font-size: 0;
    float: right;
    cursor: pointer;
    background: url("img/u-requirement-close.png") no-repeat 0 0 transparent;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: -80px;
  }






/* Split requirement variant
   ========================================================================== */
.c-page-head--rev{
  background-color: #fff;


  .c-page-head__title{
    color: $global-color-blue-hard;
  }
}
