/* ==========================================================================
   #LIGHTBOX CONTENT
   ========================================================================== */

.c-lightbox-content{
  background: #fff;
  padding: $inuit-global-spacing-unit-large;
  width: 100%;
  max-width: inuit-rem(600px);
}

  .c-lightbox-content__head{

  }

  .c-lightbox-content__body{
    text-align: center;
  }

    .c-lightbox-content__title{
      @include h1();
      color: $global-color-blue-light;
      text-align: center;

      @include mq($until: tablet) {
        @include inuit-font-size(26px, 30px);
      }

      > img{
        display: inline-block;
        margin-bottom: $inuit-global-spacing-unit-small;
      }
    }
