/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Remove bordering
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  cursor: pointer; /* [5] */
  overflow: visible; /* [6] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: $global-transition;
  border-radius: $global-radius;
  border: none;
}

/* Default (un-classed) style variants
   ========================================================================== */

.c-btn{
  @include inuit-font-size(14px);
  background-color: $global-color-gray-light;
  color: #fff;
  text-transform: uppercase;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
  }
}




/* Style variants
   ========================================================================== */

.c-btn--ui{
  background-color: $global-color-blue;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.c-btn--primary {
  background-color: $global-color-blue;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: #fff;
  }

}

.c-btn--secondary {
  background-color: $global-color-green;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
  }

}

.c-btn--tertiary {
  background-color: $global-color-red;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}

.c-btn--bare{
  background-color: #fff;
  color: #000;
  border: 1px solid $global-color-gray;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #fff;
    text-decoration: none;
  }
}


.c-btn--arrow{
  color: #000;
  background: transparent;
  text-transform: uppercase;
  background-image: url("img/u-button-arrows.png");
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 5px 32px;
  min-width: auto;

  &.left{
    background-position: 0 0;
  }

  &.right{
    background-position: right -34px;
  }
}






/* Size variants
   ========================================================================== */

.c-btn--tiny {
  padding: inuit-rem($inuit-global-spacing-unit-tiny) inuit-rem($inuit-global-spacing-unit);
}

.c-btn--small {
  padding: inuit-rem($inuit-global-spacing-unit-small);
}

.c-btn--large {
  padding: inuit-rem($inuit-global-spacing-unit-small) inuit-rem($inuit-global-spacing-unit-large);
}

.c-btn--huge {
  padding: inuit-rem($inuit-global-spacing-unit-small) inuit-rem($inuit-global-spacing-unit-huge);
}





/**
 * From here you can add your own variations
 */
