/* ==========================================================================
   #TABLES
   ========================================================================== */

.c-table{
  th,
  td{
    @include inuit-font-size(13px, 21px);
    color: $global-color-dark-hard;
    font-weight: 600;
    border-top: 1px solid $global-color-gray-light;
    text-align: left;
  }

  th{
    border: none;
  }

  td{
    font-weight: 300;
  }
}





/* Style variants
   ========================================================================== */

.c-table--stripped{
  > tbody tr:nth-child(odd) td{
    background-color: #F9F9F9;
  }
}


.c-table--bare{
  th,
  td{
    border: none;
  }
}



.c-table--input{
  th{
    border: none;
  }

  td{
    border: 1px solid $global-color-gray-light;
  }
}





/* Responsive table
   ========================================================================== */

.c-table--responsive,
.c-table.responsive{

  @include mq($until: tables) {
    width: inuit-rem(900px);
    margin-bottom: 0;

    th:first-child,
    td:first-child{
      display: none;
    }
  }
}

// Responsive table's wrappers
@include mq($until: tables) {
  .table-wrapper{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc;

    .pinned{
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      width: 15%;
      overflow: hidden;
      overflow-x: scroll;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;

      table{
        border-right: none;
        border-left: none;
        width: 100%;
      }

      table th,
      table td{
        white-space: nowrap;
      }

      td:last-child{ border-bottom: 0; }
    }

    .scrollable{
      margin-left: 15%;
      overflow: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }

}
