/* ==========================================================================
   #PANE
   ========================================================================== */

.c-pane{
  background-color: #fff;
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
  margin-bottom: $inuit-global-spacing-unit-large;

  @include mq($until: desktop) {
    padding: $inuit-global-spacing-unit-small;
  }
}

  .c-pane__head{
    margin-bottom: $inuit-global-spacing-unit;
    @include inuit-clearfix();

    @include mq($until: desktop) {
      text-align: center;
      margin-bottom: $inuit-global-spacing-unit-small;
    }
  }

    .c-pane__title{
      @include h2();
      font-weight: 400;
      color: $global-color-blue;
      margin: 0;
    }

    .c-pane__tools{
      padding-top: $inuit-global-spacing-unit-small;
      border-top: 1px solid $global-color-gray-light;
    }
