/* ==========================================================================
   #ALERTS
   ========================================================================== */

   /**
    * 1. Full parent width
    * 2. Default background and border color
    * 3. All the alerts must be font white colored
    */

.c-alert{
  display: block; /* [1] */
  border-radius: $global-radius/2;
  text-align: left;
  background: $global-color-gray-light; /* [2] */
  border-color: $global-color-gray-light; /* [2] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small;
  font-weight: 300;
  color: #fff; /* [3] */
}

  .c-alert__icon{
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("img/u-alert.png") no-repeat 0 0 transparent;
    vertical-align: text-bottom;
    margin-right: $inuit-global-spacing-unit-small;
  }





/* Background variants
   ========================================================================== */

.c-alert--info{
  background-color: $global-color-blue;
  border-top: 1px solid $global-color-blue;
  border-bottom: 1px solid $global-color-blue;
}

.c-alert--success{
  background-color: $global-color-green;
  border-top: 1px solid $global-color-green;
  border-bottom: 1px solid $global-color-green;
}

.c-alert--error{
  background-color: $global-color-red;
  border-top: 1px solid $global-color-red;
  border-bottom: 1px solid $global-color-red;
}





/* Style variants
   ========================================================================== */

.c-alert--alt{
  @include inuit-font-size(12px, 12px);
  display: inline-block;
  padding: $inuit-global-spacing-unit/4;
  font-weight: 400;
}





.c-alert--full{
  @include inuit-font-size(14px);
  background-color: transparent;
  color: #000;
  text-align: center;
  font-weight: 400;
  border-radius: 0;

  > .c-alert__icon{
    @include inuit-font-size(14px, 18px);
    font-style: normal;
    background: none;
    vertical-align: middle;
    cursor: pointer;
    color: $global-color-gray-light;
    border: 1px solid $global-color-gray-light;
  }
}
