/* ==========================================================================
   #CARDS WRAPPER
   ========================================================================== */

.c-cards-wrapper{
  position: relative;
}

  .c-cards-wrapper__title{
    @include h4();
    text-align: center;
    color: $global-color-blue;

    @include mq($until: desktop) {
      margin: 0;
      padding: $inuit-global-spacing-unit-small 0;
      background-color: #fff;
      border-bottom: 1px solid $global-color-gray-light;

      > label{
        display: block;
        cursor: pointer;
      }
    }
  }


  .c-cards-wrapper__content{
    @include inuit-clearfix();

    > input{
      display: none;
      visibility: hidden;
    }

    @include mq($until: desktop) {
      text-align: center;
      margin: 0 $inuit-global-spacing-unit-tiny;
      padding: $inuit-global-spacing-unit-tiny 0;

      > input:not(:checked) ~ .c-card{
        @include inuit-hidden-visually();
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease;
      }

      > input:checked ~ .c-card{
        opacity: 1;
        visibility: visible;
        transition: opacity .3s ease;
      }
    }
  }
