/* ==========================================================================
   #CARDS
   ========================================================================== */

.c-card{
  background: #fff;
  border: 1px solid $global-color-gray-light;
  max-width: 100%;
  width: 280px;
  margin: 0 auto $inuit-global-spacing-unit-small auto;

  @include mq($from: tablet, $until: desktop) {
    display: inline-block;
    margin-right: $inuit-global-spacing-unit-small;
  }
}

  .c-card__title{
    @include h3();
    text-align: center;
    margin-bottom: $inuit-global-spacing-unit-tiny;
  }

  .c-card__info{
    @include inuit-font-size(13px);
    font-weight: 300;
    padding: $inuit-global-spacing-unit-small;
    border-top: 1px solid $global-color-gray-light;
  }

  .c-card__foot{
    padding: $inuit-global-spacing-unit-tiny;
    text-align: center;
    background: $global-color-dark;

    > a{
      @include inuit-font-size(13px);
      font-weight: 600;
      display: block;
      color: #fff;
      text-decoration: none;
    }

    &.succeeded{
      background: $global-color-green;
    }

    &.approved{
      background: $global-color-blue;
    }

    &.on-hold{
      background: $global-color-gray;
    }

    &.declined{
      background: $global-color-red;
    }
  }
