/* ==========================================================================
   #DROP ZONE
   ========================================================================== */

.c-dropzone{
  border: 1px dashed $global-color-gray-light;
  position: relative;
  padding: 50px;
  color: $global-color-gray-light;
  cursor: pointer;


  &:hover{
    border-color: $global-color-dark;
    color: $global-color-dark;
  }
}

  .c-dropzone__hint{
    @include inuit-font-size(14px);
    display: block;
    text-align: center;
  }
