/* ==========================================================================
   #BREADCRUMBS
   ========================================================================== */

.c-breadcrumb{
  direction: block;
  border-bottom: 1px solid $global-color-gray-extralight;
  text-align: center;
  font-size: 0;
  background-color: #fff;
}

  .c-breadcrumb__item{
    display: inline-block;
    padding: 0 $inuit-global-spacing-unit;
    position: relative;

    // Arrow shape
    & + .c-breadcrumb__item:before,
    & + .c-breadcrumb__item:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 24px solid transparent;
      border-left: 15px solid $global-color-gray-extralight;
      border-bottom: 24px solid transparent;
    }

    & + .c-breadcrumb__item:after{
      left: -1px;
      border-top: 24px solid transparent;
      border-left: 15px solid #fff;
      border-bottom: 24px solid transparent;
    }
  }

    .c-breadcrumb__link{
      @include inuit-font-size(14px);
      padding: $inuit-global-spacing-unit-small 0;
      color: #000;
      text-decoration: none;

      &:hover{
        color: $global-color-blue;
      }
    }





/* Current item
   ========================================================================== */

.c-breadcrumb__item--current{
  background-color: $global-color-gray-light;

  & .c-breadcrumb__item{
    border: none;
  }

  > .c-breadcrumb__link,
  > .c-breadcrumb__link:hover{
    color: #fff;
  }

  /**
   * Arrow shape
   *
   * Shape's current item must be the
   * same as the background color.
   */
  & + .c-breadcrumb__item:after{
    left: -1px;
    border-top: 24px solid transparent;
    border-left: 15px solid $global-color-gray-light;
    border-bottom: 24px solid transparent;
  }
}
