/* ==========================================================================
   #MASTHEAD
   ========================================================================== */

.c-masthead{
  background-color: #fff;
  padding: $inuit-global-spacing-unit 0;
}

  .c-masthead__content{
    max-width: inuit-rem(600px);
    margin: 0 auto;
    text-align: center;
    padding: 0 $inuit-global-spacing-unit-small;

    > p{
      color: #000;

      &:last-of-type{ margin: 0; }
    }
  }

    .c-masthead__title{
      @include h2();
      color: $global-color-blue;
      font-weight: 400;
      margin-bottom: $inuit-global-spacing-unit-small;

      @include mq($until: tablet) {
        @include inuit-font-size(20px, 26px);
      }
    }
