/* ==========================================================================
   #MAIN
   ========================================================================== */

.c-main{
  background-color: $global-color-gray-extralight;
  padding-top: $inuit-global-spacing-unit;
}

  .c-main__head{
    @include inuit-rem(max-width, 700px);
    margin: 0 auto $inuit-global-spacing-unit auto;

    p{
      margin: 0;
    }
  }

  .c-main__body{
    padding: $inuit-global-spacing-unit;
    background-color: #fff;

    @include mq($until: desktop) {
      padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small;
    }
  }
