/* ==========================================================================
   #FORMS
   ========================================================================== */

.c-form{
  display: block;
  @include inuit-clearfix();

  label{
    @include inuit-font-size(13px);
    cursor: pointer;
  }
}

  .c-form__field{
    margin-bottom: $inuit-global-spacing-unit-small;
    color: $global-color-dark-hard;
    position: relative;
  }

    .c-form__label{
      @include inuit-font-size(13px);
      font-weight: 600;
      display: block;
      cursor: pointer;
      margin-bottom: $inuit-global-spacing-unit-tiny;

      > .required{
        color: $global-color-red;
      }
    }

    .c-form__input,
    .c-form__select,
    .c-form__search{
      @include input();
    }

    .c-form__select{
      background: url("img/u-select-arrow.png") no-repeat 98% center transparent;
      background: url("img/u-select-arrow.svg") no-repeat 98% center transparent;
      border-radius: 0;
      cursor: pointer;
      outline: 0;
      padding-right: $inuit-global-spacing-unit;

      -webkit-appearance: none;
         -moz-appearance: none;
          -ms-appearance: none;
    }

    .c-form__search{
      background-color: #fff;
      border: none;

      &:focus,
      &:active{
        border: none;
      }
    }

    .c-form__input,
    .c-form__select{
      &.has-error{
        border-color: $global-color-red;
      }

      &.picker{
        cursor: pointer;
      }
    }





/* Inline form fields
   ========================================================================== */

.c-form__field-inline{
  margin-bottom: $inuit-global-spacing-unit-small;
  color: $global-color-dark-hard;
  position: relative;
  display: flex;


  //Label sizes
  &.tiny > .c-form__label,
  &.tiny > label{
    width: inuit-rem(50px);
  }

  &.small > .c-form__label,
  &.small > label{
    width: inuit-rem(70px);
  }

  &.regular > .c-form__label,
  &.regular > label{
    width: inuit-rem(110px);
  }

  &.large > .c-form__label,
  &.large > label{
    width: inuit-rem(150px);
  }

  &.huge > .c-form__label,
  &.huge > label{
    width: inuit-rem(250px);
  }


  //Children styles
  > .c-form__label,
  > label{
    display: inline-block;
    max-width: inuit-rem(250px);
    overflow: hidden;
    padding: $inuit-global-spacing-unit-tiny;
    margin: 0 $inuit-global-spacing-unit-tiny 0 0;
    white-space: nowrap;
  }

  > .c-form__input,
  > .c-form__select{
    //width: auto;
    flex: 1;
  }

  > .c-form__search{
    margin-left: $inuit-global-spacing-unit;
  }

  //Adjust datepicker
  > .picker{
    width: 1%;
  }
}


.c-form__field-inline\@desktop{
  @include mq($from: desktop) {
    margin-bottom: $inuit-global-spacing-unit-small;
    color: $global-color-dark-hard;
    position: relative;
    display: flex;

    //Label sizes
    &.tiny > .c-form__label,
    &.tiny > label{
      width: inuit-rem(50px);
    }

    &.small > .c-form__label,
    &.small > label{
      width: inuit-rem(70px);
    }

    &.regular > .c-form__label,
    &.regular > label{
      width: inuit-rem(110px);
    }

    &.large > .c-form__label,
    &.large > label{
      width: inuit-rem(150px);
    }

    &.huge > .c-form__label,
    &.huge > label{
      width: inuit-rem(250px);
    }


    //Children styles
    > .c-form__label,
    > label{
      display: inline-block;
      max-width: inuit-rem(250px);
      overflow: hidden;
      padding: $inuit-global-spacing-unit-tiny;
      margin: 0 $inuit-global-spacing-unit-tiny 0 0;
      white-space: nowrap;
    }

    > .c-form__input,
    > .c-form__select{
      //width: auto;
      flex: 1;
    }

    > .c-form__search{
      margin-left: $inuit-global-spacing-unit;
    }

    //Adjust datepicker
    > .picker{
      width: 1%;
    }
  }
}





/* Form groups
   ========================================================================== */

.c-form__addon{
  color: $global-color-dark-hard;
  position: relative;
  display: flex;

  > .c-form__label,
  > label{
    padding: $inuit-global-spacing-unit-tiny;
  }

  .c-form__addon__field{
    flex: 1;
  }

  > .c-form__addon__appended{
    display: inline-block;
    vertical-align: middle;
    padding: $inuit-global-spacing-unit-tiny;
    border: 1px solid $global-color-gray-hard;
    border-left: none;
  }
}



