/* ==========================================================================
   #TOOLS BAR
   ========================================================================== */

.c-tools-bar{
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: $inuit-global-spacing-unit 0;
  background-color: $global-color-gray-thin;
  z-index: 7;

  @include mq($until: tablet) {
    padding: $inuit-global-spacing-unit-small 0;
  }
}

  .c-tools-bar__child{
    display: inline-block;
    vertical-align: middle;

    &:last-of-type{
      text-align: right;
    }
  }





.c-tools-bar--alt{
  position: relative;
  padding: $inuit-global-spacing-unit-small 0;
  background-color: #fff;
  border-bottom: 1px solid $global-color-gray-light;
}

  .c-tools-bar__body{
    margin: 0 auto;
  }

    .c-tools-bar__controls{
      text-align: center;

      label{
        color: $global-color-gray-light;
        cursor: pointer;
        background: url("img/u-view-controls.png") no-repeat right -16px transparent;
        padding-right: 30px;
        margin: 0 $inuit-global-spacing-unit-tiny;

        > a{
          color: inherit;
          text-decoration: none;
        }
      }

      label + label{
        background-position: right 2px;
      }
    }
