/* ==========================================================================
   #LOGIN
   ========================================================================== */

.c-login{
  padding: 0;
  position: relative;
  height: 100vh;
  background: url("img/u-login-background.jpg") no-repeat 0 0 fixed transparent;
  background-size: cover;
}

  .c-login__body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 100%;

    @include mq($until: phablet){
      width: 400px;
      padding: 0 $inuit-global-spacing-unit-tiny;
    }

    @include mq($from: tablet){
      width: 500px;
    }

    > img{
      display: block;
      margin: 0 auto $inuit-global-spacing-unit-large auto;
    }
  }

    .c-login__form{
      padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
      background-color: #fff;

      > h1{
        @include h2();
        color: $global-color-blue;
        text-align: center;
        margin-bottom: $inuit-global-spacing-unit-small;
      }
    }

    .c-login__foot{
      padding: $inuit-global-spacing-unit-small;
      background: $global-color-blue;
      text-align: center;

      > a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
      }
    }
