/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

.c-site-nav{
  background-color: #62737F;
  padding: $inuit-global-spacing-unit-huge 0 $inuit-global-spacing-unit-large 0;
}

  .c-site-nav__list{

  }

    .c-site-nav__item{
      border-bottom: 1px solid $global-color-gray-thin;

      &:first-of-type{
        border-top: 1px solid $global-color-gray-thin;
      }
    }

      .c-site-nav__link{
        @include inuit-font-size(14px);
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        text-align: left;
        display: block;
        padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-large;

        &:hover{
          color: #62737F;
          background: $global-color-gray-thin;
        }
      }
