/* ==========================================================================
   #SPLIT
   ========================================================================== */

.o-split{
   text-align:right;
   list-style:none;
   margin-left:0;
}

  .o-split__title{
      text-align:left;
      float:left;
      clear:left;
  }
