/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width:       1200px !default;
$inuit-wrapper-width-tiny:  1080px !default;
$inuit-wrapper-width-small: 1120px !default;
$inuit-wrapper-width-large: 1320px !default;
$inuit-wrapper-width-huge:  1400px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number."
}

.o-wrapper {
  @include inuit-clearfix();
  padding-right: $inuit-global-spacing-unit;
  padding-left:  $inuit-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;

  @include mq($until: tablet) {
    padding-right: $inuit-global-spacing-unit-small;
    padding-left:  $inuit-global-spacing-unit-small;
  }
}





/* Size variants.
   ========================================================================== */

.o-wrapper--tiny {
  max-width: $inuit-wrapper-width-tiny;
}

.o-wrapper--small {
  max-width: $inuit-wrapper-width-small;
}

.o-wrapper--large {
  max-width: $inuit-wrapper-width-large;
}

.o-wrapper--huge {
  max-width: $inuit-wrapper-width-huge;
}
