///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 6px;
$global-transition: (1/3) + s !default;


// Media queries breakpoints
$mq-breakpoints: (
    mobile:    320px,
    phablet:   415px,
    tablet:    600px,
    desktop:   981px,
    wide:      1380px,
    tables:    799px,
);



/**
 * Global colors
 */
// Blue
$global-color-blue: #449BF7;
$global-color-blue-light: #73B5FB;
$global-color-blue-hard: #2079D6;

// Green
$global-color-green: #4CAF50;
$global-color-green-light: #8BC34A;
$global-color-green-hard: #388E3C;

// Red
$global-color-red: #F44336;
$global-color-red-light: #FF5252;
$global-color-red-hard: #D32F2F;

//Dark
$global-color-dark: #515151;
$global-color-dark-light: #767676;
$global-color-dark-hard: #323232;

//Gray
$global-color-gray-thin: #EDF0F2;
$global-color-gray-extralight: #DBE3E8;
$global-color-gray-light: #A7B7C2;
$global-color-gray: #7E919F;
$global-color-gray-hard: #62737F;





/**
 * Global font families
 */
$global-font-family: "Lato", Helvetica, Arial, sans-serif;




/**
 * Global off-canvas menu width
 */
$global-menu-width: inuit-rem(235px);
