/* ==========================================================================
   #PAGE-SECTION
   ========================================================================== */

.s-page-section{
  margin: $inuit-global-spacing-unit 0;
  padding-bottom: $inuit-global-spacing-unit;
  border-bottom: 1px solid #E5E5E5;
}

  .s-page-section__head{
    padding: $inuit-global-spacing-unit-small 0;
  }

    .s-page-section__title{
      margin: 0;
      text-transform: uppercase;

      > span{
        @include inuit-font-size(16px, 13px);
        display: block;
      }
    }

    .s-page-section__subtitle{
      @include inuit-font-size(18px);
      display: block;
      text-transform: uppercase;
      color: #949494;
      margin-bottom: $inuit-global-spacing-unit-small;
    }





.s-page-section--targeted{
  display: none;

  &:target{
    display: block;
  }
}
