/* ==========================================================================
   #TABLE SORT
   ========================================================================== */

.s-tablesort{

  .sort-header{
    position: relative;
    cursor: pointer;
  }

  .sort-header:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
  }

  .sort-header:hover:after{
    visibility: visible;
  }

  .sort-up:after,
  .sort-down:after,
  .sort-down:hover:after{
    visibility: visible;
    opacity: 0.4;
  }

  .sort-up:after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }
}
