/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */

.s-page-head{
  text-align: center;
  padding: $inuit-global-spacing-unit 0;
  background: #F5F5F5;

  > h1{
    text-transform: uppercase;
    margin: 0;
  }
}
