/* ==========================================================================
   #PAGE-ACCORDION
   ========================================================================== */

.s-page-accordion{
  padding: $inuit-global-spacing-unit-small 0;
}

  .s-page-accordion__title{
    @include inuit-font-size(14px);
    cursor: pointer;
    color: $global-color-blue;
    margin-bottom: $inuit-global-spacing-unit-small;
  }
