/* ==========================================================================
   #LINKS
   ========================================================================== */

a{
  color: $global-color-blue;
  display: inline-block;
  vertical-align: top;
}
