/* ==========================================================================
   #HELPERS
   ========================================================================== */


// Font weight helper classes
.u-light{
  font-weight: 300 !important;
}
.u-regular{
  font-weight: 400 !important;
}
.u-medium{
  font-weight: 500 !important;
}
.u-bold{
  font-weight: 600 !important;
}


//Text align classes
.u-text-center{
  text-align: center !important;
}

.u-text-left{
  text-align: left !important;
}

.u-text-right{
  text-align: right !important;
}


//Color helper classes
.u-primary{
  color: $global-color-blue !important;
}
.u-secondary{
  color: $global-color-green !important;
}
.u-terciary{
  color: $global-color-red !important;
}


//Floating elements
.u-float--right{
  float: right !important;
}

.u-float--left{
  float: left !important;
}


//Rules (<hr>)
.u-rule{
  border-color: $global-color-gray-light
}



.u-remove-article{
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("img/u-remove-article.png") no-repeat 0 0 transparent;
  cursor: pointer;
}



.u-input-list{
  @include input();
  @include inuit-font-size(14px);
  border-radius: 0;
  border: none;
  padding: 0;

  &:focus,
  &:active{
    border: none;
  }
}


.u-input-select{
  @include input();
  @include input-select();
  max-width: inuit-rem(150px);
  vertical-align: middle;
  background-color: #fff;
  border-radius: 0;
}


.u-input-search{
  @include input();
  @include inuit-font-size(16px);
  max-width: 50%;
  border-radius: 6px;
  margin-bottom: $inuit-global-spacing-unit;
  background: url("img/u-search-icon.png") no-repeat 98% center transparent;
  padding-right: $inuit-global-spacing-unit;
  transition: max-width .5s ease;

  &.bare{
    margin: 0;
    max-width: 100%;

    @include mq($until: desktop) {
      &:focus{
        width: calc(100% - #{$inuit-global-spacing-unit-small});
        position: absolute;
        top: $inuit-global-spacing-unit-tiny;
        left: $inuit-global-spacing-unit-tiny;
        background-color: #fff;
        max-width: 999px;
      }
    }
  }
}



// Rules (hr)
.u-rule{
  border-top: 1px solid $global-color-gray-light;
  margin-top: inuit-rem($inuit-global-spacing-unit-small);
  border-bottom: 0;
}



.u-table-responsive-container{
  @include inuit-clearfix();
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
}
