/* ==========================================================================
   #HIDE
   ========================================================================== */

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-hidden-visually {
  @include inuit-hidden-visually();
}


/**
 * Hide visually and from screen readers.
 */

.u-hidden {
  display: none !important;
}


// Responsive hide helpers
@each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {

  @include mq($until: $inuit-bp-name) {
    .u-hidden\@#{$inuit-bp-name} {
      display: none !important;
    }
  }

  @include mq($from: $inuit-bp-name) {
    .u-hidden\@#{$inuit-bp-name}-and-up {
      display: none !important;
    }
  }

}
