/* ==========================================================================
   #SG HELPERS
   ========================================================================== */

// Typography showcase
.u-typo-showcase{
  @include inuit-font-size(72px, 54px);

  > span{
    @include inuit-font-size(18px, 22px);
    display: block;
  }

  &.alt{
    font-family: Helvetica, Arial, sans-serif;
  }
}

//Layout-showcase
.u-layout-showcase{
  display: block;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #D8D8D8;
  color: #fff;
}

// Buttons showcase
.u-btn-showcase{
  text-transform: uppercase;
  color: #fff;
}


//Complete requirement lightbox content showcase
.u-lightbox-content{
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}



//White background
.u-bg-white{
  background-color: #fff !important;
}
